.venv/
project/.env
project/project/__pychache__/
github/__pychache__
project/user/__pychache__
project/user/migrations/__pychache__
project/user/models/__pychache__
project/user/serializers/__pychache__
